/*************************
Diseño: Andrea Monsalve
Programación: Lenin Pulgar
**************************/
*{
    margin: 0;
    padding: 0;
}
html, body{
    font-size: 16px;
    font-family: "Lato";
    padding: 0;
}

@font-face {
    font-family: 'GINETTE';
    src:url(../fonts/GINETTE.TTF);
}

.container p{
    color: #999999;
    font-family: 'Lato';
    
    text-align: justify;
}

/******
HEADER
******/
header{
    height: 4.938rem;
    background-color: #b8ddd6;
    font-size: 1rem;
    width: 100%;
}

.banner-home h1{
    float:left;
    color: #FFF;
    font-family: GINETTE;
    margin-top: 20%;
    margin-left: 4rem;
    font-size: 2.5rem;
}

.title-bar{
    background-color: #b8ddd6;
}

header a{
    display: block;
    color: #FFF;
}

header a:hover{
    color: #FFF;
}

nav{
    margin-top: 1rem;
}

ul.submenu.is-dropdown-submenu.first-sub.vertical{
    background-color:#b8ddd6;
    border:0;
    text-align: left;
}

.dropdown.menu .submenu{
    min-width: 130px;
}

ul.submenu.is-dropdown-submenu.first-sub.vertical li:hover{
    background-color:rgb(248,202,204);
}


.logo{
    background: url(images/logo.png);
    width: 346px;
    height: 51px;
    margin-top: 13px;
    margin-left: 84px;
}

/*
hr {
  height: .15rem;
  width: 13%;
  margin: 0;
  background-color: #FFF;
  border: none;
  transition: .3s ease-in-out;
}

.two:hover ~ hr {
  margin-left: 13%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}*/

@include dropdown-button($base-style:false);

/*****
BANNER
*****/

.banner-home{
    height: 524px;
    background: url(../img/banners/banner-home-andreina.jpg) no-repeat 100% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*******
TRENDING
*******/
.trending{
    color: #999999;
    font-family: 'Lato';
    margin-bottom: 1rem;
    font-weight: 300;
    
}

.trending p{
    color: #000;
    font-weight: 300;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.trending strong{
    font-weight: 400;
}

.entry-title{
    margin-top: 1rem;
    font-weight: 400;
}

.entry-photo{
    background: url(images/entry-photo.png) no-repeat 100%;
    width: 100%;
    height: 326px;
}

.work-category:before{
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(images/work-pencil.png) no-repeat center;;
    vertical-align: middle;
}

.blog-stats{
    margin-top:1rem;
    text-align: right
}

.comments-n1:before {
    content: '';
    display:inline-block;
    width: 1.5rem;
    height: 1.2rem;
    background: url(../img/icons/icon%20msn-05-04-05.svg) no-repeat center;
    vertical-align: middle;
}

.likes-n1:before{
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../img/icons/icon%20heart-04-04.svg) no-repeat center;
    vertical-align: middle;
}

.trending .social-holder:before{
    content: 'Like it? share!';
    display: inline-block;
}

.trending .social-holder{
    margin-left: .5rem;
}


/*****
RECENT
******/

.recent h4{ padding-top: .5rem;}
.recent li{
    list-style-type: none;
    margin-bottom: 1rem;
}

.recent li{
}

a.load-more-button{
    display:block;
    width: 6rem;
    height: 2.5rem;
    font: 1rem/2.5rem 'Lato';
    text-align: center;
    background-color:rgb(248,202,204);
    color:#FFF;
    font-weight: 300;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
}

a.load-more-button:hover{
    transition: ease .3s;
    background-color: #999999;
}

.comments-n:before{
    content: '';
    display:inline-block;
    width: 1.5rem;
    height: 1.2rem;
    background: url(../img/icons/icon%20msn-05.svg) no-repeat center;
    vertical-align: middle;
}

.likes-n:before{
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../img/icons/icon%20heart-04.svg) no-repeat center;
    vertical-align: middle;
}



/****
ASIDE
****/
/*ABOUT*/
.about{
    margin-bottom: 1rem;
}

.about p{
    padding-top: 1rem;
}

.about-photo{
    background: url(../img/foto-about-home.jpg) no-repeat 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 20.31rem;
}

a.read-more-button{
    display: block;
    width: 7rem;
    height: 1.8rem;
    background-color: #b9ddd6;
    text-align: center;
    color:#FFF;
    vertical-align: middle;
    font: 1rem/1.8rem 'Lato';
    font-weight: 300;
}

a.read-more-button:hover{
    background-color: rgb(248,202,204);
}
/*SOCIAL NETWORKS*/

.social .top-separator{
    margin-bottom:.9rem;
}

.socialaside{
    display: inline-block;
    margin-left: 1rem;
}

.social-holder{
    display: inline-block;
    margin-left: 2.5rem;
}

.social-holder a{
    margin-left: .5rem;
}

.snf{
    display: inline-block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icono%20facebook-01.svg) no-repeat center;
    padding-left: .3rem;
}

.snf:hover{
    background-image: url(../img/icons/icon%20facegris-10.svg)
}

.sni{
    display: inline-block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icono%20instagram-02.svg) no-repeat center;
    padding-left: .3rem;
}

.sni:hover{
    background-image: url(../img/icons/icon%20instgris-11.svg)
}

.snt{
    display: inline-block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icono%20twitter-03.svg) no-repeat center;
    padding-left: .3rem;
}

.snt:hover{
    background-image: url(../img/icons/icon%20twittergris-12.svg)
}


/*NEWSLETTER*/

.newsletter form {
    padding-top: .9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.newsletter form input{
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a0;
    border-radius: 0;
    background-color: rgba(255,255,255,0);
    height: 2.5rem;
}

.newsletter form input:focus{
    background-color:rgba(255,255,255,0);
}

.newsletter form button{
    display: inline-block;
    width: 112px;
    background-color: #a0a0a0;
    font-family: 'Lato';
    font-weight: 300;
    border-radius: 0;
    height: 2.5rem;
}

.newsletter form button:hover{
    background-color: rgb(255,102,102);
}

/***
ADS
***/
.orbit{
    padding:1rem;
}

/*******
ARCHIVES
********/
.archives{
    padding-top: 1rem;
}

.archives select{
    color: rgb(153,153,153);
    font-family: 'Lato';
    font-weight: 300;
}

.archives h4{
    margin-left:1rem;
}

.archives h4:before{
    content: '';
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: url(../img/icons/icon_letter-06.svg) center no-repeat;
    vertical-align: middle;
}

.archives select{
    margin-top:1rem;
    border-radius: 0;
    background-color: rgba(1,1,1,0);
    
}

.archive-container{
    padding-left: 1rem;
    padding-right: 1rem;
}

/********
INSTAGRAM
*********/

.instagram{
    margin-top:.5rem;
}

.instagram h4{
    margin-left: 1rem;
}

.instagram h4:before{
    content: '';
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: url(images/inst-gris.png) center no-repeat;
    vertical-align: middle;
}

/******
TWEETS
******/

.tweets h4{
    margin-top:.5rem;
    margin-left: 1rem;
}

.tweets h4:before{
    content: '';
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    background: url(../img/icons/icon%20twittergris-08.svg) center no-repeat;
    vertical-align: middle;
}

.tweet-content{
    margin: 1rem;
}

/******
FOOTER
******/
footer{
    min-height: 100px;
    background-color: #b8ddd6;
    color: #FFF;
    font-size: 0.8rem;
    clear: both;
}

footer a{
    color: #FFF;
}

.copyright p{
    margin-top: 3.8rem;
}
.copyright{
    height: 100px;
}



.fbf{
    display: block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icon%20facegris-10.svg) no-repeat 100% center;
}

.fbf:hover{
    background-image: url(../img/icons/icono%20facebook-01.svg)
}

.insf{
    display: block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icon%20instgris-11.svg) no-repeat 100% center;
}

.insf:hover{
    background-image: url(../img/icons/icono%20instagram-02.svg)
}

.twf{
    display: block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icon%20twittergris-12.svg) no-repeat 100% center;
}

.twf:hover{
    background-image: url(../img/icons/icono%20twitter-03.svg);
}

.credits{
    text-align: right;
    position: relative;
}


.redesf li{
    display: inline-block;
    padding-top: 1rem;
    padding-right: .3rem;
    padding-left: .3rem;
}

/*******
GENERALS
********/
.container{
    background: url(../img/fondo-web-andreina.jpg) repeat 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.container h3, .container h4{
    color: #999999;
    font-family: 'Lato';
}

.container h3{
    font-size:1.7rem;
}

.container h4{
    font-size:1.2rem;
    font-weight: 300;
}

.separator{
    width: 100%;
    height: 3px;
    background: url(images/trunk-f.png) no-repeat;
    margin-bottom: 25px;
}

.top-separator{
    width: 100%;
    height: 3px;
    background: url(images/trunk-f.png) no-repeat;
}

.separator:after{
    content: '';
    float: right;
    margin-top:-10px;
    width: 19px;
    height: 22px;
    background: url(images/flower.png) no-repeat;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after{
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.4rem;
    background: url(images/down-arrow.png) no-repeat center;
    border: 0;
    /*content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #2ba6cb transparent transparent;
    border-top-style: solid;
    position: absolute;
    top: 0.825rem;
    right: 5px;*/
}
/*Lava lamp underline*/

#menu { 
	position: relative; 
}
.magic-line { 
	position: absolute;
	bottom: -1px; 
	left: 0; 
	width: 100px; 
	height: 1px; 
	background: #FFF;
}
.active a {  !important 
}

/*STICKY*/
.sticky {
  position: absolute;
  z-index: 0;
  transform: translate3d(0, 0, 0);
}

.sticky.is-stuck {
  position: fixed;
  z-index: 5;
}

/* GRID BEGIN */

.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 10px 10px 0 10px;
    margin: 25% 0 0 0
}
.view p {
    position: relative;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 20px 20px;
    text-align: center;
}

/*TENTH*/
.view-tenth img { 
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}
.view-tenth .mask { 
    background-color: rgba(248, 202, 204, .7); 
    transition: all 0.5s linear;
    opacity: 0;
}	
.view-tenth h2{
    background: transparent;
    transform: scale(0);
    color: #FFF;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth p {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}


/*HOVER*/
.view-tenth:hover img { 
	transform: scale(10);
    opacity: 0;
}
.view-tenth:hover .mask { 
	opacity: 1;
}																			 
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info{ 
    transform: scale(1);
    opacity: 1;
}

/* GRID END*/

ul.row{
    padding:0 1rem;
}

/*MEDIA QUERY FOOTER */
@media screen and (max-width: 39.9375em) {

.credits{
    text-align: left;;
    position: relative;
}

.redesf{
    margin-left: -.4rem;
}
    
}

/*MEDIA QUERY HEADER*/
@media screen and (max-width: 39.9375em){
    nav ul li{
        width: 100%;
        float: left;
        text-align: left
    }
    
    nav ul li:hover{
        transition:  .3s;
        background-color:rgb(248,202,204);
    }
    
    ul.submenu.is-dropdown-submenu.first-sub.vertical{
    background-color:#b8ddd6;
    border:0;
}

.dropdown.menu .submenu{
    position: absolute;
    min-width: 100%;
    float: left;
    margin-left: 70px;
}
    
    .dropdown.menu{
        overflow: hidden;
    }

ul.submenu.is-dropdown-submenu.first-sub.vertical li:hover{
    transition:  .3s;
    background-color:rgb(248,202,204);
}

    .magic-line{
        height: 0;
    }
    
    .logo{
        margin:10px;
        margin-right: 0;
        width: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }
    
    .title-bar button{
        position: absolute;
    }
}