/*************************
Diseño: Andrea Monsalve
Programación: Lenin Pulgar
**************************/
*{
    margin: 0;
    padding: 0;
}
html, body{
    font-size: 16px;
    font-family: "Lato";
    height: 100%;
    padding: 0;
}

/******
HEADER
******/
header{
    height: 4.938rem;
    background-color: #b8ddd6;
    font-size: 1rem;
}

header a{
    color: #FFF;
}

nav{
    margin-top: 1rem;
}

ul.submenu.is-dropdown-submenu.first-sub.vertical{
    background-color:rgba(248,202,204,1);
    border:0;
}

.logo{
    background: url(images/logo.png);
    width: 346px;
    height: 51px;
    margin-top: 13px;
    margin-left: 84px;
}


hr {
  height: .15rem;
  width: 13%;
  margin: 0;
  background-color: #FFF;
  border: none;
  transition: .3s ease-in-out;
}

.two:hover ~ hr {
  margin-left: 13%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

@include dropdown-button($base-style:false);

/*****
BANNER
*****/

.banner-home{
    height: 524px;
    background: url(../img/banners/banner-home-andreina.jpg) no-repeat 100% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*******
TRENDING
*******/
.trending{
    color: #999999;
    font-family: 'Lato';
    margin-bottom: 2.5rem;
    
}

.entry-title{
    margin-top: 1rem;
    font-weight: 400;
}

.entry-photo{
    background: url(images/entry-photo.png) no-repeat 100%;
    width: 100%;
    height: 326px;
}

/*****
RECENT
******/
.recent li{
    list-style-type: none;
    margin-bottom: 1rem;
}

a.load-more-button{
    display:block;
    width: 6rem;
    height: 2.5rem;
    font: 1rem/2.5rem 'Lato';
    text-align: center;
    background-color:rgb(248,202,204);
    color:#FFF;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

/****
ASIDE
****/
/*ABOUT*/
.about{
    margin-bottom: 1rem;
}
.about-photo{
    background: url(../img/foto-about-home.jpg) no-repeat 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 20.31rem;
}

a.read-more-button{
    display: block;
    width: 7rem;
    height: 1.5rem;
    background-color: #b9ddd6;
    text-align: center;
    color:#FFF;
    vertical-align: middle;
    font: 1rem/1.5rem 'Lato';
}

a.read-more-button:hover{
    background-color: rgb(255,102,102);
}
/*SOCIAL NETWORKS*/

.social .top-separator{
    margin-bottom:.9rem;
}

.snf{
    display: inline-block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icono%20facebook-01.svg) no-repeat center;
}

.sni{
    display: inline-block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icono%20instagram-02.svg) no-repeat center;
}

.snt{
    display: inline-block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icono%20twitter-03.svg) no-repeat center;
}

/*NEWSLETTER*/
.newsletter form {
    padding-top: .9rem;
}

.newsletter form input{
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a0;
    border-radius: 0;
    background-color: rgba(255,255,255,0);
    height: 2.5rem;
}

.newsletter form button{
    display: inline-block;
    width: 112px;
    background-color: #a0a0a0;
    font-family: 'Lato';
    font-weight: 300;
    border-radius: 0;
    height: 2.5rem;
}

.newsletter form button:hover{
    background-color: rgb(255,102,102);
}

/******
FOOTER
******/
footer{
    height: 100px;
    background-color: #b8ddd6;
    color: #FFF;
    font-size: 0.8rem;
    clear: both;
}

footer a{
    color: #FFF;
}

.copyright p{
    margin-top: 3.8rem;
}
.copyright{
    height: 100px;
}



.fbf{
    display: block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icon%20facegris-10.svg) no-repeat 100% center;
}

.insf{
    display: block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icon%20instgris-11.svg) no-repeat 100% center;
}

.twf{
    display: block;
    width:30px;
    height: 30px;
    background: url(../img/icons/icon%20twittergris-12.svg) no-repeat 100% center;
}

.credits{
    text-align: right;
    position: relative;
}


.redesf li{
    display: inline-block;
    padding-top: 1rem;
    padding-right: .3rem;
    padding-left: .3rem;
}

/*******
GENERALS
********/
.container{
    background: url(../img/fondo-web-andreina.jpg) repeat 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.container h3, .container h4{
    color: #999999;
    font-family: 'Lato';
}

.container h3{
    font-size:1.7rem;
}

.container h4{
    font-size:1.2rem;
    font-weight: 300;
}

.container p{
    color: #999999;
    font-family: 'Lato';
    
    text-align: justify;
}

.separator{
    width: 100%;
    height: 3px;
    background: url(images/trunk-f.png) no-repeat;
    margin-bottom: 25px;
}

.top-separator{
    width: 100%;
    height: 3px;
    background: url(images/trunk-f.png) no-repeat;
}

.separator:after{
    content: '';
    float: right;
    margin-top:-10px;
    width: 19px;
    height: 22px;
    background: url(images/flower.png) no-repeat;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after{
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.4rem;
    background: url(images/down-arrow.png) no-repeat center;
    border: 0;
    /*content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #2ba6cb transparent transparent;
    border-top-style: solid;
    position: absolute;
    top: 0.825rem;
    right: 5px;*/
}

#box,
#box2{
  position:relative;
}

#menu li.slide-line{
	display: block;
  padding:0;
  margin:0;
	  background: none #FFF;
	  position: absolute;
	  top: 0;
  width: 43px; 
  height: 2px; 
  left: 20px; 
  top: 30px;
  z-index: 0;
}